<% content_for :meta do %>
  <!-- Default Meta -->
  <title>Opengraph Meta Describer</title>
  <link rel="author" href="https://plus.google.com/112746119485051615074">
  <meta name="author" content="Amin Ariana">
  <meta name="copyright" content="Amin Ariana <%= Date.today.year %>">
  <meta name="description" content="Opengraph Meta Describer's description">
  <meta name="keywords" content="keywords">
<% end %>

<h1>Opengraph Meta Descriptor</h1>
<p>Success!</p>
